

.student-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 3px;
}

.create-form img{
    cursor: pointer;
}
.create-form input[type="file"] {
    display: none ;
}

/* .soro-data-tabletr {
    vertical-align: middle;
} */